{% extends "two_column_master.html" %}

{% load i18n %}
{% load stream_render %}

{% block html_head %}
	<script type="text/javascript" charset="utf-8" src="/javascript/topic.js"></script>
{% endblock %}

{% block left_panel %}
	<div style="text-align:center; padding-top:20px;">
		<h1><font class="blue">{% trans "Groups" %}</font>{% trans " are on left." %}</h1>
	</div>
	
	<div style="padding-left:20px; min-height:115px; padding-top:20px;">
		<h3>{% trans "Recent Created Groups:" %}</h3>
		{% for group in recent_groups %}
			{% include "group_item.html" %}
		{% endfor %}
	</div>
	
	<div class="clear">
		
	</div>
	
		<ul class="medium-tabs">
			<li class="medium-tab active"> <a class="text-tab" href="/group/all">{% trans "Post from All Groups" %}</a></li>
		</ul>
	
	{% include "topic_list.html" %}
	
{% endblock %}

{% block right_panel %}
	<div style="text-align:center; padding-top:20px;">
		<h1><font class="blue">{% trans "Microblog" %}</font>{% trans "are on right." %}</h1>
	</div>
	
	
	<div style="padding-left:20px; min-height:115px; padding-top:20px;">
		<h3>{% trans "Recent Joined Members:" %}</h3>
		
		{% for member in recent_members %}
			{% include "member_item.html" %}
		{% endfor %}
		
	</div>
	
	
	<div class="clear">
		
	</div>
	
	<ul class="medium-tabs">
		<li class="medium-tab active"> <a class="text-tab" href="/u/{{user.key.id}}/all">{% trans "All User Updates" %}</a></li>
	</ul>
	
	
	<div id="stream-box">
		<ol class="streams">
			{% for stream in streams %}
				{% block following_stream %}

					{% stream_render stream with_name%}

				{% endblock %}
			{% endfor %}
		</ol>
		{% include "pager.html" %}
	</div>
	
{% endblock %}