{% extends "home_master.html" %}

{% load i18n %}

{% block title %}
	{{ user.fullname }}
{% endblock %}


{% block content %}

	<div id="user-profile" style = "margin-bottom:4em;">
		<div class="pic" style="float:left;">
		    <a href="http://www.douban.com/u/{{user.id}}">
		        <img src="{{user.photo_url}}" alt="{{user.fullname}}" class="im">
		    </a>
		</div>
		<div class="info" style="margin-left:53px;padding-top:10px;">
		    <h1>
		        {{ user.fullname }}
				{% if user.status_message %}
					<span id="display" class="status-message">({{ user.status_message }})</span>
				{% endif %}
		    </h1>
		</div>
	</div>
	
	


{% endblock %}


{% block sidebar %}
	{% if is_login_user %}
		<div id="control" class="sidebar_box">
			<ul class="buttom">
				<a class="a-btn a-btn-m" href="/u/profile"><span>{% trans "User Settings" %}</span></a>
			</ul>
		</div>
	{% endif %}
	<div id="group-box" class="sidebar_box no-border">
		{% include "joined_groups_box.html" %}
		<div class="clear"></div>
	</div>
{% endblock %}