{% extends "group_master.html" %}
{% load filters %}
{% load i18n %}

{% block title %}
	{% trans "Welcome" %}
{% endblock %}

{% block html_head %}
	<script type="text/javascript" charset="utf-8" src="/javascript/topic.js"></script>
{% endblock %}

{% block content %}
	<div id="group_title">
		<h2>
			{% if is_not_guest %}
				{% trans "Latest Posts from the Groups You Followed" %}
			{% else %}
				{% trans "Latest Post" %}
			{% endif %}
		</h2>
	</div>
	{% include "topic_list.html" %}
{% endblock %}

{% block sidebar %}
	{% if is_not_guest %}
		<div id="user-info" class="grid_9 dashboard-widget">
			<div id="user-title">
			  <h2>
				<img class="ies" alt="{{ login_user.fullname }}" src="{{login_user.photo_url}}">
				{{ login_user.fullname }}
				{% if login_user.status_message %}
					<span class="status-message">({{ login_user.status_message }})</span>
				{% endif %}
				</h2>
			</div>
			<table>
				<tbody>
					<tr>
						<td>
							<span class="stats-count" id="group-count"> {{ group_info.post_count }} </span>
							<span class="label">{% trans "Posts" %}</span>
						</td>
						<td>
							<span class="stats-count" id="topic_count"> {{ group_info.topic_count }} </span>
							<span class="label">{% trans "Topics" %}</span>
						</td>
						 <td>
							<span class="stats-count" id="group_count">{{ group_info.group_count }} </span>
							<span class="label">{% trans "Groups" %}</span>
						</td>
					  </tr>
				</tbody>
			</table>
		</div>
		
		{% if can_create_group %}
			<div id="group-site-info" style="padding:10px; color:#666;">
				{% trans "Want to create a new group?" %}
				<a href="/group/new"><span style="font-size:1em; font-weight:900;">{% trans "Click here" %}</span></a>
				<div class="clear">
				</div>
			</div>
		{% endif %}

		{% if my_groups %}
			<div id="groups" class="grid_9 dashboard-widget">
				
				<h3>{% trans "You Followed Groups" %}</h3>
				<ul>
					{% for group in my_groups %}
						<li>
							<a class="group-photo" href="/group/{{group.key.id}}"><img class="is" src="{{group.photo_url}}=s32" /></a>
							<div class="group-title">
								<a class="group-name" href="/group/{{group.key.id}}">{{ group.title }}</a>
								<span class="group-info">{{ group.introduction|truncatesmart:20 }}</span>
							</div>
						</li>
					{% endfor %}
				</ul>
        	
				<p class="clear"></p>
			</div>
		{% endif %}
		
		<div class="clear">
		</div>
	{% endif %}

	{% if sidebar_widgets %}
		{% for widget in sidebar_widgets %}		
			<div class="grid_9 dashboard-widget">
				{{ widget|safe }}
			</div>
		{% endfor %}
	{% endif %}
	
{% endblock %}