{% extends "master.html" %}

{% block title %}
	Group Info
{% endblock %}

{% block content %}
	<div id="group_title">
		<h2>{{group.title}}</h2>
	</div>
	{% include "topic_list.html" %}
{% endblock %}

{% block sidebar %}
	<div class="info_box">
		<div id="group_info" class="sidebar_box" style="border: 1px solid #EEEEEE; padding: 10px;">
			<p>
				Created at {{group.create_time}} by {{group.create_user.fullname}}
			</p>
			{% for line in group.introduction.splitlines %}
				<p>{{line}}</p>
			{% endfor %}
		</div>
	</div>
	<div id="control">
		<ul>
			{% if can_join %}
				<a class="a-btn a-btn-m" id="tweeting_button" tabindex="2" href="/group/{{group.key.id}}/join"><span>Join Group</span></a>
			{% endif %}
			{% if can_quit %}
				<a class="a-btn a-btn-m" tabindex="2" href="/group/{{group.key.id}}/quit"><span>Quit Group</span></a>
			{% endif %}
			</li>
			{% if can_create_topic %}
				<a class="a-btn a-btn-m" tabindex="2" href="/group/{{group.key.id}}/new"><span>New Post</span></a>
			{% endif %}
			{% if can_edit %}
				<a class="a-btn a-btn-m" tabindex="2" href="/group/{{group.key.id}}/edit"><span>Group Settings</span></a>
			{% endif %}
		</ul>
	</div>
	<div id="group_member_box" class="sidebar_box" style="border: 1px solid #EEEEEE; padding: 10px;">
		<h3>Group Members</h3>
		{% for member in members %}
			<dl style="diplay:inline; float:left; width: 78px;">
				<dt style="text-align: center;">
					<a href="/u/{{member.key.id}}"><img src="{{member.photo_url}}=s48"/></a>
				</dt>
				<dd style="text-align: center; height: 30px; margin-left: 0;">
					{{ member.fullname }}
				</dd>
			</dl>
		{% endfor %}
		<div class="clear"></div>
	</div>
{% endblock %}