{% extends "group_master.html" %}

{% load i18n %}

{% block title %}
	Group Info
{% endblock %}

{% block html_head %}
	<script type="text/javascript" charset="utf-8" src="/javascript/topic.js"></script>
{% endblock %}

{% block content %}
	<div id="group_title">
			<h2 style="vertical-align: middle;">
				{{group.title}}
				
				{% if can_create_topic %}
					<span style="float: right;">
						<a class="a-btn a-btn-m" tabindex="2" href="/group/{{group.key.id}}/new"><span>{% trans "New Topic" %}</span></a>
					</span>
				{% endif %}
			</h2>
	</div>
	{% include "topic_list.html" %}
{% endblock %}

{% block sidebar %}
	<div class="info_box">
		<div id="group_info" class="sidebar_box">
			<img class="im" src="{{group.photo_url}}" align="left" style="padding-right:10px" />
			<p>
				{% trans "Created at" %} {{group.create_time|date:"Y-n-j"}} by 
				<a href="/u/{{group.create_user.key.id}}">
					{{group.create_user.fullname}}
				</a>
			</p>
			{% for line in group.introduction.splitlines %}
				<p>{{line}}</p>
			{% endfor %}
		</div>
	</div>
	<div id="control" class="sidebar_box">
		<ul class="buttom">
			{% if can_join %}
				<a class="a-btn a-btn-m" href="/group/{{group.key.id}}/join"><span>{% trans "Follow" %}</span></a>
			{% endif %}
			{% if can_quit %}
				<a class="a-btn a-btn-m" href="/group/{{group.key.id}}/quit"><span>{% trans "Unfollow" %}</span></a>
			{% endif %}
			{% if can_edit %}
				<a class="a-btn a-btn-m" href="/group/{{group.key.id}}/edit"><span>{% trans "Group Settings" %}</span></a>
			{% endif %}
		</ul>
	</div>
	<div id="group_member_box" class="sidebar_box" >
		<h3>{% trans "Group Members" %}</h3>
		{% for member in members %}
			<dl class="item-box">
				<dt class="photo">
					<a href="/u/{{member.key.id}}"><img src="{{member.photo_url}}=s48"/ class="im"></a>
				</dt>
				<dd class="name">
					<a href="/u/{{member.key.id}}">{{ member.fullname }}</a>
				</dd>
			</dl>
		{% endfor %}
		<div class="clear"></div>
	</div>
{% endblock %}