{% extends "master.html" %}

{% block title %}
	Group Info
{% endblock %}

{% block content %}
	{% include "topic_list.html" %}
{% endblock %}

{% block sidebar %}
	<div id="group_info">
		
	</div>
	<div id="control">
		<ul>
			<li>
				{% if can_join %}
					<a href="/group/{{group.key.id}}/join">Join Group</a>
				{% endif %}
				{% if can_quit %}
					<a href="/group/{{group.key.id}}/quit">Quit Group</a>
				{% endif %}
			</li>
			{% for member in members %}
				<li>
					<a href="/u/{{member.key.id}}"><img src="{{member.photo_url}}"/></a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}