{% extends "group_master.html" %}
{% load filters %}
{% load i18n %}

{% block title %}
	{% trans "Welcome" %}
{% endblock %}

{% block html_head %}
	<script type="text/javascript" charset="utf-8" src="/javascript/topic.js"></script>
{% endblock %}

{% block content %}
	<div id="group_title">
		<h2>{% trans "Latest Post" %}</h2>
	</div>
	{% include "topic_list.html" %}
{% endblock %}

{% block sidebar %}
	{% if is_not_guest %}
		<div id="user-info" class="grid_9 dashboard-widget">
			<div id="user-title">
			  <h2>
				<img class="ies" alt="{{ user.fullname }}" src="{{user.photo_url}}">
				{{ user.fullname }}
				{% if user.status_message %}
					<span class="status-message">({{ user.status_message }})</span>
				{% endif %}
				</h2>
			</div>
		</div>
		<div class="clear">
		</div>
		<div id="groups" class="grid_9 dashboard-widget">
			<h3>{% trans "You Followed Groups" %}</h3>
			<ul>
				{% for group in my_groups %}
					<li>
						<a class="group-photo" href="/group/{{group.key.id}}"><img class="is" src="{{group.photo_url}}=s32" /></a>
						<div class="group-title">
							<a class="group-name" href="/group/{{group.key.id}}">{{ group.title }}</a>
							<span class="group-info">{{ group.introduction|truncatesmart:20 }}</span>
						</div>
					</li>
				{% endfor %}
			</ul>

			<p class="clear"></p>
		</div>
		
		<div class="clear">
		</div>
	{% endif %}
	<div id="recommend-groups" class="grid_9 dashboard-widget">
		<h3>{% trans "Recommend Groups" %}</h3>
		<ul>
			{% for group in recommend_groups %}
				<li>
					<a class="group-photo" href="/group/{{group.key.id}}"><img src="{{group.photo_url}}=s32" class="is"/></a>
					<div class="group-title">
						<a class="group-name" href="/group/{{group.key.id}}">{{ group.title }}</a>
						<span class="group-info">{{ group.introduction|truncatesmart:20 }}</span>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}