{% extends "master.html" %}

{% block title %}
	
{% endblock %}

{% block content %}
	
	<div id="group_title" class="info_box">
			<h2 style="vertical-align: middle;">
				{{topic.title}}
				
				{% if can_create_topic %}
					<span style="float: right;">
						<a class="a-btn a-btn-m" tabindex="2" href="/group/topic/{{topic.key.id}}/new"><span>New Post</span></a>
					</span>
				{% endif %}
			</h2>
			<div id="topic_content">
				{{ topic.content }}
			</div>
	</div>
	
	<ol class="post-list">
		{% for post in posts %}
			<li class="post" data-topic-id="{{topic.key.id}}">
				<div class="post-author-photo">
					<img src="{{topic.author.photo_url}}=s48">
				</div>
				<div class="post-content"> 
					<div style=" color: #999999;">
						{{ post.create_time|date:"Y-n-j H:i" }} by 
						<a href="/u/post.author.key.id">
							{{ post.author.fullname }} 
						</a>
						{% if post.author.status_message %}
							({{ post.author.status_message }})
						{% endif %}
					</div>
					<div style="display: block; margin-bottom: 5px;">
						{{ post.content }}
					</div>
				</div>
			</li>
		{% endfor %}
	</ol>
	
	<form action="/group/topic/{{topic.key.id}}/new" method="POST" accept-charset="utf-8">
		{{ post_form.as_p }}

		<p><input type="submit" value="Add Post"></p>
	</form>
	
{% endblock %}