
{% load i18n %}

<div id="topic-box">
	<ol class="topics">
		{% for topic in topics %}
			<li class="topic_list" data-topic-id="{{topic.key.id}}">
				<span class="topic_author_photo">
					<img src="{{topic.author.photo_url}}=s48">
				</span>
				<span class="topic_content"> 
					<span style="display: block; margin-bottom: 5px;">
						{{ topic.title }}
					</span>
					<span style=" color: #999999;">
						{% if display_group_name %}
							<strong>
								<a href="/group/{{topic.group.key.id}}" style="color: #ABABAB; background-color: #F3F3F3; font-size: 0.8em;">
									&nbsp;{{ topic.group.title }}
								</a>
							</strong>
							&nbsp;
						{% endif %}
						{{ topic.create_time|date:"Y-n-j H:i" }} by {{ topic.author.fullname }}. • {{ topic.length }} {% trans "Posts" %} • {{ topic.hits }} {% trans "Hits" %} 
					</span>
				</span>
			</li>
			
		{% endfor %}
	</ol>
	{% include "pager.html" %}
</div>