{% extends "group_master.html" %}

{% load i18n %}

{% block title %}
	
{% endblock %}

{% block content %}
	
	<div class="info_box">
			<h2 style="vertical-align: middle;">
				{{topic.title}}
				
				{% if can_create_topic %}
					<span style="float: right;">
						<a class="a-btn a-btn-m" tabindex="2" href="/group/topic/{{topic.key.id}}/new"><span>{% trans "New Topic" %}</span></a>
					</span>
				{% endif %}
			</h2>
			<div class="topic post" style="margin-top: 0px;">
				<div class="topic-author-photo post-author-photo">
					<a href="/u/{{topic.author.key.id}}">
						<img src="{{topic.author.photo_url}}=s48">
					</a>
				</div>
				<div class="topic-content post-content">
					<div class="topic-meta post-meta">
						{{ topic.create_time|date:"Y-n-j H:i" }} by
						<a href="/u/{{topic.author.key.id}}">{{ topic.author.fullname }}</a>
						{% if topic.author.status_message %}
							({{ topic.author.status_message }})
						{% endif %}
					</div>
					<div class="topic-body">
						{{ topic.content|linebreaks }}
					</div>
				</div>
			</div>
	</div>
	
	<ol class="post-list">
		{% for post in posts %}
			<li class="post" data-topic-id="{{topic.key.id}}">
				<div class="post-author-photo">
					<a href="/u/{{post.author.key.id}}">
						<img src="{{post.author.photo_url}}=s48">
					</a>
				</div>
				<div class="post-content"> 
					<div class="post-meta" style="color: #999999;">
						{{ post.create_time|date:"Y-n-j H:i" }} by 
						<a href="/u/{{post.author.key.id}}">
							{{ post.author.fullname }} 
						</a>
						{% if post.author.status_message %}
							({{ post.author.status_message }})
						{% endif %}
					</div>
					<div class="post-body" style="margin-bottom: 5px;">
						{{ post.content|linebreaks }}
					</div>
				</div>
			</li>
		{% endfor %}
		
		{% include "pager.html" %}
	</ol>
	
	{% if can_create_post %}
		<form action="/group/topic/{{topic.key.id}}/new" method="POST" accept-charset="utf-8">
			{{ post_form.as_p }}

			<p><input type="submit" value="{% trans "Add Post" %}"></p>
		</form>
	{% else %}
		{% trans "Login to leave your message here." %}
	{% endif %}
	
{% endblock %}

{% block sidebar %}
	<div class="grid_6 dashboard-widget">
		<p class="pl">
			> <a href="/group/{{topic.group.key.id}}">{% trans "Back to Group: " %}{{ topic.group.title }}</a>			
		</p>
	</div>
{% endblock %}