body {
  font: 62.5% "Trebuchet MS", sans-serif;
  background:#6DC5F7 url("/images/bg.png") repeat-x scroll;
}

#background_picture {
	height: 672px;
	width: 767px;
	background:#CCFFFF url("/images/bg_1.jpg") no-repeat scroll left top;
	position: absolute;
	z-index: -1;
	margin: -50px;
}

#detail_panel {
  height: 576px;
  width: 484px;
  background: white;
  position: absolute;
  z-index: 100;
  display: none;
  margin: 6px 0 0 0;
  border: groove;
  border-width: thin;
  border-color: #AAA;
	border-bottom-right-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
	-moz-border-bottom-right-radius: 8px 8px;
	-moz-border-top-right-radius: 8px 8px;
}

#login_span {
  font-size: 12px;
}

#left-panel  {
  height: 1580px;
  background: white;
  width: 480px;
  position: absolute;
/*  margin: 5px;*/
	border-bottom-left-radius: 8px 8px;
	border-top-left-radius: 8px 8px;
	-moz-border-bottom-left-radius: 8px 8px;
	-moz-border-top-left-radius: 8px 8px;
}

#right-panel {
  height: 1580px;
  background: #FEFEFE;
  opacity: 0.8;
  width: 480px;
  position: absolute;
/*  margin: 5px 0 0 0;*/
	border-bottom-right-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
	-moz-border-bottom-right-radius: 8px 8px;
	-moz-border-top-right-radius: 8px 8px;
}

#main-panel {
	width: 960px;
	height: 620px;
	margin: 50px auto;
}

#main-panel-overlay {
  display: none;
	margin: 0px -20px;
	background:url("/images/bg-overlay.png") ;
	opacity: 0.5;
	position: absolute;
	width: 1040px;
	height: 620px;
	border-radius: 8px 8px;
	-moz-border-radius: 8px 8px;
	z-index: -1;
}

#menu-panel {
	border-style: groove;
	border-width: thin;
	width: 100%;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	font: 16px "Trebuchet MS", sans-serif;
	background-color: #404240;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

#menu-container {
  width: 900px;
  margin: auto;
  vertical-align: middle;
}

#menu-title {
  float:left;
  margin: 4px auto;
}

#menu-search {
  margin: 5px auto;
  float:right;
  height: 25px;
  width: 180px;
  background: white;
	border-radius: 6px 6px;
	-moz-border-radius: 6px 6px;
}

#menu-search-box {
  border: none;
  height: 20px;
  width: 140px;
  vertical-align: middle;
  font-size: 12px;
  color: gray;
}

#menu-search-icon {
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.bottom-button-panel {
  padding: 3px;
  margin: 0 12px;
  text-align: right;  
}

div.bottom-button {
  border-width: 10px;
  padding: 3px;
  margin: 0 12px;
}

.group-info-panel {
  border: groove;
  border-width: 2px;
  width: 90%;
	margin: 5%;
	background: white;
	border-radius: 3px 3px;
	-moz-border-radius: 3px 3px;
}

td.group-title {
  font: 15px "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-indent: 12px;
  margin: 10px;
  cursor: pointer;
}

td.group-owner {
  font: 10px "Trebuchet MS", sans-serif;
}

td.group-command {
  font: 10px "Trebuchet MS", sans-serif;
  text-align: right;
}

.group-description {
  border-top: groove;
  border-width: thin;
  font: 11px "Trebuchet MS", sans-serif;
  text-indent: 24px;
  border-radius: 3px 3px;
	-moz-border-radius: 3px 3px;
}

.group-topic-panel {
  width: 90%;
  margin: 5%;
  background: white;
}

.group-topic-header-panel {
  font: 15px "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-indent: 10px;
  margin: 10px;
}

.group-topic-content-panel {
  font: 12px "Trebuchet MS", sans-serif;
  text-indent: 24px;
  margin: 10px; 
}