{% load i18n %}

<div class="chrisw_dialog_content">
	<form action="/u/new" method="POST" accept-charset="utf-8">
		<textarea class="stream_box_editor" style="width: 476px; height: 80px;" name="content" id="id_content" >{{content}}</textarea>
		<div style="text-align:right">
			<span style="float:left; padding-left:14px;padding-top:4px; color:#aaa;">{% trans "What's happing?" %}</span>
			<input class="a_btn" type="submit" value="{% trans "Post New Stream" %}" style="margin-bottom:0px; height:26px;">
		</div>
	</form>
</div>