<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link rel="stylesheet" href="/css/sen.extra.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/sen.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/960.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/daoshicha.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	
	<style type="text/css" media="screen">
		body.user-style{
			background:#333 url("/images/background-main.png") no-repeat;
		}
	</style>
	<title>{% block title %}
		Enjoy it :-)
	{% endblock %}</title>
	
	{% block html_head %}
		
	{% endblock %}
</head>

<body class="user-style">
	<div id="wrapper" class="container_24">
		
		<div id="top-bar-outer" class="container_24">
			<div id="top-bar-bg">
				<div id="top-bar" style="color:white;">
					<div id="top-bar-inside">
						<div id="logo" class= "grid_4 top-bar-item">
							<a href="/" style="vertical-align:text-top; margin: 0px; font-size:1.5em;">
								<strong>{{ site.site_name }}</strong>
							</a>
						</div>
						<div id="nav-menu" class="grid_14 top-bar-item" style="margin-bottom:-2px;">
							<ul>
								<li class="{% block group_menu %}{% endblock %}">
									<a href="/group/all" style="vertical-align:text-top; margin: 0px;">
										<strong>{% trans "Groups" %}</strong>
									</a>
								</li>
								<li class="{% block ask_menu %}{% endblock %}">
									<a href="/u" style="vertical-align:text-top; margin: 0px;">
										<strong>{% trans "Microblog" %}</strong>
									</a>									
								</li>
							</ul>
						</div>
						{% if is_not_guest %}
							<div id="name" class="grid_6 top-bar-item">
								<span>
									<a href="/u/{{login_user.key.id}}">
										<img style="margin-bottom:-3px;" width="20px" height="20px" src="{{login_user.photo_url}}" />																			
									</a>
								</span>
								<span style="padding-left:3px;">
									<a href="/u/{{login_user.key.id}}" style="color:#aaa;">
										{{ login_user.fullname }}
									</a>
								</span>
								
								<span style="padding-left:10px;">
									<a href="/u/profile" style="color:#eee;">
										{% trans "Settings" %}
									</a>
								</span>
								
								<span style="padding-left:5px;">
									<a href="/logout" style="color:#eee;">
										{% trans "Logout" %}
									</a>
								</span>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		
		{% if not is_not_guest %}
			<div id="site-message">
				<div id="message-content" class="grid_24">
					<div id="site-name" class="grid_4">
						<h2>
							{{ site.site_name }}
						</h2>
					</div>
					<div id="login-slogan" class="grid_11">
						<h3 style="color:#666; padding-top:2px;">
							{{ site.site_slogan }}
						</h3>
					</div>
					
					<div id="login-reminder" class="container_8">
						<div id="sign-up-button" class="grid_2">
							<ul class="buttom">
								<a class="a-btn a-btn-m" href="/signup"><span>{% trans "Sign up" %}</span></a>
							</ul>
						</div>
						
						
						<div class="grid_6" style="height:30px; margin-top:-5px;">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr><td style="padding:0;margin:0; text-align: center;">
									{% trans "Have an account?" %}
										<a href="/login"><span style="font-size:1.2em; font-weight:900;">{% trans "Sign in" %}</span></a>
									</td>
								</tr>
								<tr><td style="padding:0;margin:0; text-align: center;">
									<span style="font-size:0.8em;max-width:20px;">
										{% trans "(Google Account is supported)" %}
									</span>
								</td></tr>
							</table>
						</div>
					</div>
				</div>
				<div class="clear">
				</div>
			</div>
		{% endif %}
		
		{% if site_message %}
			<div id="site-message">
				<div id="message-content" class="grid_24">
					<h3 style="color:#666;">
						{{ site_message }}
					</h3>
				</div>
				<div class="clear">
				</div>
			</div>
		{% endif %}
		
		<div id="content">
			{% block main_panel %}
				
			{% endblock %}
			<div class="clear">
			</div>
			
		</div>
		
		
		<div id="footer-bar">
			<div id="footer" class="grid_24" style="padding-bottom:10px;">
				<span id="cp">
				    &copy; 2011-2011 <a href="http://home.kangzhang.org">Kang Zhang</a> all rights reserved
				</span>
				<span style="float: right; padding-right:10px;">
					Powered by <a href="http://github.com/kangzhang/chrisw/">Chrisw</a>
				</span>
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
	

</body>

</html>
