{% autoescape off %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/js/util/jquery.rloader.js" type="text/javascript"></script>
	<script src="/js/base.js" type="text/javascript"></script>		
	<link type="text/css" href="/css/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
	<link type="text/css" href="/css/style.css" rel="stylesheet" />
	<title>{% block title %} DaoShiCha {% endblock %}</title>
	{% block header %} {% endblock %}
</head>

<body>
	<div id="background_picture"></div>
	<div id="main_panel">
		<div id="main_panel_overlay">
		</div>
		<div id="login" title="Login" style="display:none;">
		</div>
		<div id="menu_panel">
			<div style="float:left; position: relative; margin: 10px 0 10px 25px;">
				<span style="color: white; font-size: 20px;">join</span>
				<span style="color: white; font-weight: bold; font-size: 25px;">Daoshicha</span>
			</div>
			<div style="float: left; position: relative; margin: 20px 0 10px 50px;">
				<span style="color: white; font-size: 12px; font-weight: bold;">
					{% if user %}
						Welcome <span style="color:yellow">({{ user.username }})</span> &nbsp;
						<span id="logout_span">
							<a href="#">Logout</a>
						</span>
					{% else %}
					    <span id="login_span">
							<a href="#">Login</a>
						</span>
					{% endif %}
					&nbsp; &nbsp;Explore
				</span>
			</div>
			<div id="search_box_panel" style="float: right; position: relative; margin: 10px;" >
				<input id="search_box" type="text" />
				<img src="/images/search.png" style="margin: 3px" height="24px" />
			</div>
		</div>
		<div id="content_panel">
			<div id="white_panel" style="background-color: #FFFFFF; margin-top: 20px; -moz-border-radius: 6px; padding: 16px;">
				{% block content %} {% endblock %}
			</div>
		</div>
	</div>
</body>
</html>

{% endautoescape %}