{% autoescape off %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/js/util/jquery.rloader.js" type="text/javascript"></script>
	<script src="/js/loader.js" type="text/javascript"></script>
	<script>
		loadJavascriptFiles(
			[
				"/js/base.js",
				"/js/util/jQuery.debug.js",
				"/js/util/queue.js",
				"/js/views/group.js"
			]
		);
		loadCssFiles (
			[
				"/css/jquery-ui-1.8.5.custom.css",
				"/css/style.css",
			]
		);
	</script>
	
	<title>{% block title %} DaoShiCha {% endblock %}</title>
	{% block header %} {% endblock %}
</head>

<body>
	<div id="menu-panel">
		<div id="menu-container">
			<div id="menu-title">
				<span style="color: white; font-weight: bold; font-size: 22px;">daoshicha</span>
			</div>
			<div id="menu-search">
				<input id="menu-search-box" type="text" value="搜索" />
				<img id="menu-search-icon" src="/images/search.png" />
			</div>
		</div>

		<!--
		<div style="float: left; position: relative; margin: 20px 0 10px 50px;">
					<span style="color: white; font-size: 12px; font-weight: bold;">
						{% if user %}
							Welcome <span style="color:yellow">({{ user.username }})</span> &nbsp;
							<span id="logout_span">
								<a href="#">Logout</a>
							</span>
						{% else %}
						    <span id="login_span">
								<a href="#">Login</a>
							</span>
						{% endif %}
						&nbsp; &nbsp;Explore
					</span>
				</div>-->
		
	</div>
	
	<div id="background_picture"></div>
	<div id="main-panel">
		<div id="main-panel-overlay"></div>
		<div id="login" title="Login" style="display:none;">
		</div>
		<div id="content-panel">
			{% block content %}
			<table width="100%">
				<tbody>
					<tr>
						<td width="50%" valign="top">
							<div id="left-panel"></div>
						</td>
						<td width="50%" valign="top">
							<div id="right-panel"> Right Panel </div>
							<div id="detail_panel"> Detail Panel</div>
						</td>
					</tr>
				</tbody>
			</table>
			
	    	{% endblock %}
		</div>
	</div>

</body>
</html>

{% endautoescape %}