<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% autoescape off %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link rel="stylesheet" href="/css/sen.extra.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/sen.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/960.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/daoshicha.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	
	<style type="text/css" media="screen">
		body.user-style{
			background-image:url("http://s.twimg.com/a/1286563368/images/themes/theme9/bg.gif");
			background-color: black;
		}
	</style>
	<title>{% block title %}
		Title
	{% endblock %}</title>
	
	{% block html_head %}
		
	{% endblock %}
</head>

<body class="user-style">
	<div id="wrapper" class="container_24">
		
		<div id="top-bar-outer" class="container_24">
			<div id="top-bar-bg">
				<div id="top-bar">
					<div id="top-bar-inside">
						<a href="/">
							<h1 id="daoshicha" style="vertical-align:text-top; margin: 0px; color:white;"><strong>Daoshicha</strong>.com</h1>
						</a>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div id="main_panel" class="grid_15">
				{% block content %}
					Think big
				{% endblock %}
			</div>
			<div id="sidebar" class="grid_9">
				{% block sidebar %}
					Do small
				{% endblock %}
			</div>
			<div class="clear">
			</div>
			
			<div id="footer" class="grid_24" style="bottom:0px;">
				<hr></hr>
				<span id="cp">
				    &copy; 2011-2011 Daoshicha, all rights reserved
				</span>
				<span style="float: right; padding-right:10px;">
					Powered by <a href="http://github.com/kangzhang/chrisw/">Chrisw</a>
				</span>
			</div>
			<div class="clear">
		</div>
	</div>

</body>

</html>
{% endautoescape %}
