<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% autoescape off %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/css/sen.extra.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/sen.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/960.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/daoshicha.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>{% block title %}
		Title
	{% endblock %}</title>
	
	{% block html_head %}
		
	{% endblock %}
</head>

<body>
	<div id="wrapper" class="container_12">
		
		<div id="top-bar-outer" class="container_12">
			<div id="top-bar-bg">
				<div id="top-bar">
					<div id="top-bar-inside">
						<h1 id="daoshicha" style="margin:16px 0 16px;"><strong>Daoshicha</strong>.com</h1>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div id="main_panel" class="grid_6">
				{% block content %}
					Think big
				{% endblock %}
			</div>
			<div id="sidebar" class="grid_6">
				{% block sidebar %}
					Do small
				{% endblock %}
			</div>
			<div class="clear">
			</div>
		</div>
		<div id="footer">
			<span id="cp">
			    &copy; 2005－2010 Daoshicha, all rights reserved
			</span>
			<span style="float: right;">
				Powered by <a href="http://github.com/kangzhang/chrisw/">Chrisw</a>
			</span>
		</div>
	</div>

</body>

</html>
{% endautoescape %}
