{% extends "front_master.html" %}

{% load i18n %}

{% block title %}
	{{ user.fullname }}
{% endblock %}


{% block content %}

	<div id="user-profile" style = "margin-bottom:4em;">
		<div class="pic" style="float:left;">
		    <a href="http://www.douban.com/u/{{user.id}}">
		        <img src="{{user.photo_url}}" alt="{{user.fullname}}" class="im">
		    </a>
		</div>
		<div class="info" style="margin-left:53px;padding-top:10px;">
		    <h1>
		        {{ user.fullname }}
				{% if user.status_message %}
					<span id="display" class="status-message">({{ user.status_message }})</span>
				{% endif %}
		    </h1>
		</div>
	</div>
	
	
	
	<div id="group-box">
		<h3>{% trans "Followed Groups" %}:</h3>
		{% for group in joined_groups %}
			<dl class="item-box">
				<dt class="photo">
					<a href="/group/{{group.key.id}}">
						<img src="{{group.photo_url}}" class="im">
					</a>
				</dt>
				<dd class="name">
					<a href="/group/{{group.key.id}}">{{ group.title }}</a>
					<span>({{group.members|length}})</span>
				</dd>
			</dl>
		{% endfor %}
	</div>

{% endblock %}


{% block sidebar %}
	{% if is_login_user %}
		<div id="control" class="sidebar_box">
			<ul class="buttom">
				<a class="a-btn a-btn-m" href="/u/profile"><span>{% trans "User Settings" %}</span></a>
			</ul>
		</div>
	{% endif %}
{% endblock %}